.content {
    display: flex;
    flex-direction: column;
    margin: auto auto auto auto;
    width: 65%;
    background-image: url("./sedex.png");
    background-repeat: repeat-x;
    padding: 10px;
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
    border-radius: 15px;
  
  }
  
.content input {
    margin-bottom: 20px;
    align-items: center;
    width: 25%;

}

  .content button.imprimir {
    margin: 4px 4px 4px 4px;
    border: 0;
    border-radius: 4px;
    width: 20%;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #ddd;
    cursor: pointer;
  }

  .content button.imprimir:hover {  
    background: #808080;  
  }

  #Lista{
    display: inline-block;
    align-items: right;
    flex-direction: column;
  }